    <!-- Offcanvas menu -->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasMenu" aria-labelledby="offcanvasMenuLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasMenuLabel">User Panel</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body p-0">
            <ul class="list-group custom-list">
                <a href="/profile" class="list-group-item custom-list-item">
                    <i class="fas fa-house me-2"></i>
                    <span>Profile</span>
                </a>
                <a href="/orderList" class="list-group-item custom-list-item">
                    <i class="fas fa-bag-shopping me-2"></i>
                    <span>Orders History</span>
                </a>
                <a href="/cartpage" class="list-group-item custom-list-item">
                    <i class="fas fa-cart-shopping me-2"></i>
                    <span>Cart</span>
                </a>
                <a href="/editAddress" class="list-group-item custom-list-item">
                    <i class="fas fa-users me-2"></i>
                    <span>Address</span>
                </a>
                <a href="/Wishlist" class="list-group-item custom-list-item">
                    <i class="fas fa-id-card me-2"></i>
                    <span>Wishlist</span>
                </a>
                <a href="/AccountSettings" class="list-group-item custom-list-item">
                    <i class="fas fa-flag me-2"></i>
                    <span>Account Settings</span>
                </a>
            </ul>
        </div>
    </div>