<footer class="navbar navbar-expand-lg navbar-dark bottom-0" style="background-color: black; border-top: 1px solid #e6ae31">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        
        <a class="navbar-brand" href="">
            <img src="/images/logo.png" style="max-height: 70px" alt="auto">
            <h3 class="text-white fw-bold m-0 d-inline align-middle">ToteTreasures Hub</h3>
        </a>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto"> <!-- Add ms-auto class -->
                <li class="nav-item">
                    <a href="/homepage" class="nav-link px-2 text-white">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/aboutus" class="nav-link px-2 text-white">About Us</a>
                </li>
                <li class="nav-item ml-auto"> <!-- Use ml-auto to push items to the right -->
                    <a href="/contactUs" class="nav-link px-2 text-white">Contact Us</a>
                </li>
            </ul>
        </div>
        <ul class="nav col-12 col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3 ps-4"><a href="https://www.instagram.com/" class="text-white"><i class="fa-brands fa-instagram fw-bold fs-2"></i></a></li>
            <li class="ms-3"><a href="https://www.linkedin.com/home" class="text-white"><i class="fa-brands fa-linkedin fw-bold fs-2"></i></a></li>
        </ul>
    </div>
    <span class="mb-3 mb-md-0 text-white">&copy;2023 ToteTreasures Hub.shop </span>
</footer>
