
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.navbar {
  background-color: #333;
  padding:0;
  border-bottom: 1px solid #e6ae31;
}

.navbar-brand h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.nav-link {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 700;
}

/* Change the color of the navigation links on hover */
.navbar-nav .nav-item a:hover {
  color: #e6ae31;
}

/* Custom CSS to change the background color of the dropdown menu */
.dropdown-menu {
  background-color: #fff;
}

/* Custom CSS to change the text color of links in the dropdown menu */
.dropdown-menu a {
  color: #e6ae31;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

/* ------------------------CARTPAGE--------------------------- */

.icon-hover-primary:hover {
  border-color: #3b71ca !important;
  background-color: white !important;
}

.icon-hover-primary:hover i {
  color: #3b71ca !important;
}
.icon-hover-danger:hover {
  border-color: #dc4c64 !important;
  background-color: white !important;
}

.icon-hover-danger:hover i {
  color: #dc4c64 !important
}
.transparent-input {
  border: none;
  background-color: transparent;
  color: inherit;
  width: 12vw;
  font-size: inherit;
  text-align: right; 
}