  /* Reset some default styles for better consistency */
  body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: black;
    padding: 0;
    border-bottom: 1px solid rgba(230, 174, 49);
}

.navbar-brand h3 {
    font-family: 'Italianno', cursive;
}

.nav-link {
    color: white;
    font-family: 'Italianno', cursive;
    font-size: 18px;
    font-weight: 700;
}

/* Change the color of the navigation links on hover */
.navbar-nav .nav-item a:hover {
    color: rgba(230, 174, 49);
}

/* Custom CSS to change the background color of the dropdown menu */
.dropdown-menu {
    background-color: white; /* Replace with your desired background color */
}

/* Custom CSS to change the text color of links in the dropdown menu */
.dropdown-menu a {
    color: rgba(230, 174, 49); /* Replace with your desired text color */
    font-family: 'Italianno', cursive;
}
/* Center the content vertically and horizontally */
.container-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0a0a0a; /* Add your preferred background color */
}

/* Style the login form container */
.login-form {
    /* display: flex; */
    background-color: #0a0a0a;
    box-shadow: 0px 0px 10px rgba(230,174,49);
    border-radius: 5px;
    overflow: hidden;
    padding: 10px 0px;
}
.box-element{
    display: flex;
}

.ul li a{
    font-family: Italianno; 
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: 700;
}

/* Left side of the login form */
.left-side {
    padding: 20px;
    width: 50%; /* Adjust as needed */
}

.login-form h2 {
    text-align: center;
    color: white;
}

.form-group {
    margin-bottom: 15px;
    color:white;
}

label {
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #FA8232;
    border-radius: 5px;
    margin-top: 5px;
}

.login-button {
    background-color: #FA8232; /* Change to your preferred button color */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #FA8232; /* Change to a darker shade for hover effect */
}

a {
    text-decoration: none;
    color: #007bff; /* Link color */
}

/* Divider */
.divider {
    text-align: center;
    margin: 20px 0;
    position: relative;
    color: white;
    margin: 20px 0;
    font-weight: bold;
}


/* Style the "Continue with Google" button */
.google-button {
    background-color: #fff; /* Change to your preferred button color */
    color: #007bff;
    border: 1px solid #007bff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 10px;
}

.google-button:hover {
    background-color: #007bff;
    color: #fff;
}

/* Style the Google icon */
.google-button img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}


/* Right side of the login form */
.right-side {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%; /* Adjust as needed */
    border-left: 1px solid white;
}

.create-account-button {
    background-color: #FA8232; /* Change to your preferred button color */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.create-account-button:hover {
    background-color: #1f8d3d; /* Change to a darker shade for hover effect */
}
