  /* Reset some default styles for better consistency */
  body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: black;
    padding: 0;
    border-bottom: 1px solid rgba(230, 174, 49);
}

.navbar-brand h3 {
    font-family: 'Italianno', cursive;
}

.nav-link {
    color: white;
    font-family: 'Italianno', cursive;
    font-size: 18px;
    font-weight: 700;
}

/* Change the color of the navigation links on hover */
.navbar-nav .nav-item a:hover {
    color: rgba(230, 174, 49);
}

/* Custom CSS to change the background color of the dropdown menu */
.dropdown-menu {
    background-color: white; /* Replace with your desired background color */
}

/* Custom CSS to change the text color of links in the dropdown menu */
.dropdown-menu a {
    color: rgba(230, 174, 49); /* Replace with your desired text color */
    font-family: 'Italianno', cursive;
}
/* Style the login form container */
.formforgot{
    /* display: flex; */
    background-color: #0a0a0a;
    box-shadow: 0px 0px 10px rgba(230,174,49);
    border-radius: 5px;
    overflow: hidden;
    padding: 10px 0px;
}
/* .box-element{
    display: flex;
} */
.formforgot h2{
    color: white;
}
label {
    color: white;
}

.ul li a{
    font-family: Italianno; 
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: 700;
}
.card shadow{
    background-color: #0a0a0a;
    box-shadow: 0px 0px 10px rgba(230,174,49);
    border-radius: 5px;
    overflow: hidden;
    padding: 10px 0px;
}