<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ToteTreasures Hub - About Us</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Italianno' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="/css/landingpage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">

</head>

<body style="background-color: black;">
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black;">
        <div class="container-fluid d-flex justify-content-between align-items-center">
            <a class="navbar-brand" href="">
                <img src="/images/logo.png" style="max-height: 70px" alt="auto">
                <h3 class="text-white fw-bold m-0 d-inline align-middle">ToteTreasures Hub</h3>
            </a>
        </div>
    </nav>
    <div class="container mt-4" style="background-color: black; color: white; font-family: 'Open Sans', sans-serif;">
        <div class="row">
            <!-- Image on the left -->
            <div class="col-md-6 mb-4">
                <img src="/images/logo.png" class="img-fluid" alt="About Us Image">
            </div>
    
            <!-- Description on the right -->
            <div class="col-md-6">
                <h1>About Us</h1>
                <p>
                    Welcome to ToteTreasures Hub.shop – Your Passport to Luxury Living!
                    <br><br>
                    At ToteTreasures Hub.shop, we curate an exquisite collection of luxury belts, bags, and wallets,
                    tailored for individuals who revel in the art of sophisticated living. Our offerings are not just accessories;
                    they are statements of refined taste and expressions of timeless elegance.
                    <br><br>
                    Immerse yourself in a world where every detail is a nod to luxury, where craftsmanship meets creativity, and
                    where style becomes a journey. Whether you're a seasoned traveler or an aficionado of the finer things in life,
                    our meticulously selected range is designed to accompany you on your voyage in unparalleled opulence.
                    <br><br>
                    Indulge in the allure of our premium leather goods, each piece telling a story of prestige and individuality.
                    From the classic elegance of our belts to the contemporary charm of our bags, ToteTreasures Hub.shop is your
                    exclusive destination for accessories that transcend trends.
                    <br><br>
                    Embrace the spirit of wanderlust with our collection, where luxury meets functionality. Elevate your travel
                    experience with accessories that complement your lifestyle, ensuring that every journey is a celebration of your
                    unique taste and penchant for luxury.
                    <br><br>
                    At ToteTreasures Hub.shop, we understand that luxury is not just a possession; it's a lifestyle. Join us on
                    this extraordinary journey where travel meets luxury, and each accessory is a testament to the art of living lavishly.
                    <br><br>
                    Indulge. Explore. Experience luxury like never before, only at ToteTreasures Hub.shop.
                </p>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>
<%- include('../layouts/footer') %>
</html>