<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Password Change</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Italianno' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="/css/passwordchange.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black;">
        <div class="container-fluid d-flex justify-content-between align-items-center">
            <a class="navbar-brand" href="/homepage">
                <img src="/images/logo.png" style="max-height: 70px" alt="auto">
                <h3 class="text-white fw-bold m-0 d-inline align-middle">ToteTreasures Hub</h3>
            </a>
    
            <!-- Move the search form outside of the collapse button -->
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
    
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto"> <!-- Add ms-auto class -->
                    <li class="nav-item">
                        <a class="nav-link" href="/homepage">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/shop">Shop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/About Us">About Us <i class="fa-solid fa-heart text-danger"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cart">Cart <i class="fa-solid fa-cart-shopping text-primary"></i></a>
                    </li>
                    <li class="nav-item ml-auto"> <!-- Use ml-auto to push items to the right -->
                        <% if (user) { %>
                        <div class="dropdown">
                            <a href="#" class="dropdown-toggle nav-link" id="usernameLink" data-bs-toggle="dropdown" aria-expanded="false">
                                <%= user.Username %> <i class="fa-solid fa-user"></i>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="usernameLink">
                                <li><a class="dropdown-item" href="/profile">Profile</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li>
                                    <a class="dropdown-item" href="/logout" id="logoutLink">Logout</a>
                                </li>
                            </ul>
                        </div>
                        <% } else { %>
                        <div class="d-flex align-items-center"> <!-- Add a div wrapper -->
                            <a class="nav-link" href="/signup">
                                <i class="fa-solid fa-user-plus"></i> Sign Up
                            </a>
                            <span class="nav-link">|</span> <!-- Use a delimiter like "|" -->
                            <a class="nav-link" href="/login">
                                <i class="fa-solid fa-sign-in-alt"></i> Login
                            </a>
                        </div>
                        <% } %>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="vh-100 d-flex align-items-center"  style="background: linear-gradient(to right, rgb(0, 0, 0), rgb(0, 0, 0));">
        <div class="container d-flex justify-content-center align-items-center mt-5">
            <div class="card shadow" style="width: 30rem;">
              <form class="formforgot" action="/createNewPassword" method="post">
                <% if (messages.success) { %>
                  <div class="alert alert-success">
                      <%= messages.success %>
                  </div>
              <% }else if (messages.error){ %>
                <div class="alert alert-danger">
                  <%= messages.error %>
              </div>
              <%}%>
        
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title icons text-center text-white">Password Reset</h5>
                    <p class="card-subtitle mb-2 text-white icons text-center" style="font-size: small;">Please Reset The Password For The Email Address</p>
                    <div class="form-check-label mt-3">
                        <div class="form-group">
                            <input type="password" class="form-control" name="Password" placeholder="New Password" required />
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="confirmPassword" placeholder="Confirm Password" required />
                        </div>
                    <div class="mt-3">
                        <button
                              id = "emailVerification"
                              type="submit"
                              class="btn text-center text-white sign-in1 btn-lg"
                              style="
                                background-color: #fa8232;
                                width: -webkit-fill-available;
                                border: none;"
                            >
                            Reset Password
                            </button>
                    </div>
                    </div>         
                </div>
              </form>
            </div>
        </div>
        </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>

</html>