<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ToteTreasures Hub - Contact Us</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Italianno' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="/css/landingpage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</head>

<body style="background-color: black;">
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black;">
        <div class="container-fluid d-flex justify-content-between align-items-center">
            <a class="navbar-brand" href="">
                <img src="/images/logo.png" style="max-height: 70px" alt="auto">
                <h3 class="text-white fw-bold m-0 d-inline align-middle">ToteTreasures Hub</h3>
            </a>
        </div>
    </nav>

    <div class="container mt-4" style="background-color: black; color: white; font-family: 'Open Sans', sans-serif;">
        <div class="row justify-content-center align-items-center"> <!-- Center the row and align vertically -->
            <!-- Image on the left -->
            <div class="col-md-6 mb-4">
                <img src="/images/logo.png" class="img-fluid" alt="Contact Us Image">
            </div>
    
            <!-- Contact Information on the right -->
            <div class="col-md-6 text-center">
                <h1>Contact Us <i class="fas fa-envelope"></i></h1>
                <p>
                    <i class="fas fa-map-marker-alt"></i> <strong>Address:</strong><br>
                    123 Luxury Street,<br>
                    Cityville, Dist-Bangalore,<br>
                    State-Karnataka,<br>
                    Country-India
                </p>
                <p>
                    <i class="far fa-envelope"></i> <strong>Email:</strong><br>
                    info@totetreasureshub.shop
                </p>
                <p>
                    <i class="fas fa-phone-alt"></i> <strong>Phone:</strong><br>
                    +(91) 8129571742
                </p>
            </div>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <%- include('../layouts/footer') %>
</body>

</html>
